<!DOCTYPE html>
<html>
<head>
  <title>ClassChat</title>

  <script src="https://chatroomclasschat.herokuapp.com/socket.io/socket.io.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>





<%= yield %>



</body>
</html>
